<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IKHome</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/ik_merch.css" />
  </head>
  <body>
    <div class="wrapper" id="app">
      <div class="header">
        <div class="header__column">
          <a class="header__logo" href="#"></a>
        </div>
        <div class="header__column">
          <a class="header__gost" href="#"></a>
        </div>
      </div>
      <div class="merch">
        <div class="merch__container">
          <div class="merch__row">
            <img
              class="merch__element"
              v-for="product in products"
              :key="product.id"
              :src="product.image_path"
              @click="toggle_dialog(product.id)"
            />
          </div>
        </div>
        <div class="merch__pagination">
          <a class="merch__nav-element">← Назад</a>
          <a class="merch__nav-element">1</a>
          <a class="merch__nav-element">2</a>
          <a class="merch__nav-element">3</a>
          <a class="merch__nav-element">...</a>
          <a class="merch__nav-element">7</a>
          <a class="merch__nav-element">8</a>
          <a class="merch__nav-element">9</a>
          <a class="merch__nav-element">Вперед →</a>
        </div>
      </div>
      <div class="footer">
        <div class="footer__social-links">
          <a class="footer__link footer__icon footer__icon--instagram"></a>
          <a class="footer__link footer__icon footer__icon--vkontakte"></a>
          <a class="footer__link footer__icon footer__icon--youtube"></a>
        </div>
        <div class="footer__menu-links">
          <a class="footer__menu-link" href="ik_about.html"> О группе </a>
          <a class="footer__menu-link" href="#"> Мерч </a>
          <a class="footer__menu-link" href="#"> Музыка </a>
          <a class="footer__menu-link" href="ik_media.html"> Медиа </a>
          <a class="footer__menu-link" href="ik_contact.html"> Контакты </a>
          <a class="footer__menu-link" @click="toggle_cart()"> Корзина </a>
        </div>
        <div class="footer__authors">
          <span> Создано в веб-студии </span>
          <a href="" class="link--underlined">TrackSky</a>
        </div>
      </div>
      <div class="dialog" v-if="opened_product || is_cart_open">
        <div class="dialog__merch" v-if="opened_product">
          <div class="dialog__merch-container">
            <div class="dialog__merch-column">
              <img class="dialog__merch-image" :src="opened_product.image_path" alt="" />
            </div>
            <div class="dialog__merch-column">
              <span class="dialog__close" @click="toggle_dialog(opened_product.id)">Закрыть</span>
              <div class="dialog__merch-info">
                <div class="merch-info__title">
                  <span v-text="opened_product.title"></span>
                </div>
                <div class="merch-info__price">
                  <span v-text="opened_product.price.toLocaleString() + ' ₸'"></span>
                </div>
                <div class="merch-info__description">
                  <span v-text="opened_product.description"></span>
                </div>
              </div>
              <div class="dialog__merch-controls">
                <div class="merch-controls__size-container">
                  <div
                    class="merch-controls__size"
                    :class="{ 'merch-controls__size--selected': size.is_selected }"
                    v-for="size in sizes"
                    :key="size.id"
                    @click="select_size(size.id)"
                  >
                    <span v-text="size.value"></span>
                  </div>
                </div>
                <div class="merch-controls__basket-container">
                  <div class="merch-controls__basket-row">
                    <div class="merch-controls__sum">
                      <a @click="decrement_amount" class="button_dec">-</a>
                      <span v-text="amount"></span>
                      <a @click="increment_amount" class="button_inc">+</a>
                    </div>
                    <div class="merch-controls__basket">
                      <span @click="add_to_cart">В корзину</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dialog__cart" v-else-if="is_cart_open">
          <div class="dialog__cart-container">
            <div class="dialog__cart-header">
              <span class="cart__header-title">Корзина</span>
              <span class="dialog__close" @click="toggle_cart()">Закрыть</span>
            </div>
            <div class="dialog__cart-body">
              <table class="dialog__cart-table" v-if="cart.length">
                <thead>
                  <tr class="dialog__cart-row">
                    <th>Описание</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Стоимость</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="dialog__cart-row" v-for="product in cart" :key="product.id">
                    <td>
                      <div class="cart__product-cell">
                        <img class="cart__product-image" :src="product.image_path" />
                        <span class="cart__product-title" v-text="product.title"></span>
                      </div>
                    </td>
                    <td>
                      <span>{{ product.amount }} шт.</span>
                    </td>
                    <td>
                      <span>{{ product.price }} ₸</span>
                    </td>
                    <td>
                      <span>{{ calculate_product_price(product) }} ₸</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <span v-else>Корзина пуста</span>
            </div>
            <div class="dialog__cart-footer">
              <div class="cart__footer-amount">
                <span class="footer__amount-label">Итого:</span>
                <span class="footer__amount-value">{{cart_total_amount}} ₸</span>
              </div>
              <div class="cart__footer-button">
                <span>Начать оформление</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="assets/js/ik_merch.js"></script>
  </body>
</html>
