.gallery {
  margin: 24px 0;
}

.gallery__header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 50px;
}

.gallery__container {
  padding: 24px 0 32px 0;
  overflow: hidden;
}

.gallery__container--scrollable {
  overflow-x: scroll;
}

.gallery__row {
  display: flex;
  width: 100%;
}

.gallery__row--center {
  margin: 24px 0;
}

.gallery__item {
  margin: 0 12px;
  width: 320px;
  height: 180px;
}

.gallery__row  .gallery__item:first-child {
  margin-left: 0;
}

.gallery__row  .gallery__item:last-child {
  margin-right: 0;
}

.gallery__scrollbar {
  display: flex;
  justify-content: center;
}

.gallery__scrollbar-bar {
  position: relative;
  width: 720px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
}

.gallery__scrollbar-bar::after {
  content: '';
  display: block;
  height: 4px;
  width: 100px;
  background: #fff;
  opacity: 1;
  position: absolute;
  top: -1px;
  left: 100px;
}
@media screen and (max-width: 768px) {
  .gallery__container {
    flex-direction: column;
  }
  .footer {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .footer__social-links {
    display: flex;
    align-items: center;
    order: 1;
  }

  .footer__menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin: 0;
    order: 0;
    margin-bottom: 54px;
  }

  .footer__menu-link {
    display: flex;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .footer__authors {
    display: flex;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    order: 2;
    margin-top: 54px;
    margin-bottom: 21px;
  }
}
/*.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 2px;
	width: 720px;
	background: #F5F5F5;
	overflow-x: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}
/*
 *  STYLE 1
 */

/*#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}*/